<%= simple_form_for(@message) do |f| %>
  <%= f.error_notification %>

  <h2>Send message to: <%= @receiver.full_name %></h2>
  <div class="form-inputs">
    <%= f.input :content %>
  </div>

  <%= f.hidden_field :receiver_id, value: @receiver.id%>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
