<div class='row'>
  <div class='col-md-6'>
    <h1>Edit Profile </h1>
    <%= simple_form_for @user  do |f| %>

          <%= f.input :full_name %>
          <%= f.input :email %>
          <%= f.input :avatar, as: :file, label: 'Photo' %>
          <%= f.input :city %>
          <%= f.input :state %>
          <%= f.input :industry %>
          <%= f.input :position %>
          <%= f.input :contact_info, as: :text %>

          <%= f.submit %>
    <% end %>

  </div>
</div>
