<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <h1>Signup</h1>

    <%= simple_form_for @user do |f| %>

    <%= f.input :full_name %>
    <%= f.input :email %>
    <%= f.input :password, as: :password %>
    <%= f.input :password_confirmation, as: :password %>
    <%= f.submit value: "Signup"  %>
    <% end %>

    </div>
</div>
