
<table class='table table-striped'>
  <thead>
    <tr>
      <th width="10%">Expertise desired</th>
      <th width="15%">Partnership opportunity</th>
      <th width="10%">Industry</th>
      <th width="10%">Compensation</th>
      <th width="10%">User</th>
      <th width="10%">Created at</th>
      <th  width="10%" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% opportunities.each do |opportunity| %>
      <tr>
        <td><%= opportunity.expertise_desired %></td>
        <td><%= opportunity.partnership_opportunity %></td>
        <td><%= opportunity.industry.name %></td>
        <td><%= number_to_currency opportunity.compensation %></td>
        <td>
          <%= link_to opportunity.user.full_name, opportunity.user %><br />
          <%= link_to opportunity.user.email, opportunity.user %>
          </td>
        <td><%=opportunity.created_at.strftime("%d %b %Y")%></td>
        <td><%= link_to 'Show', opportunity %></td>
        <td><%= link_to 'Edit', edit_opportunity_path(opportunity) if current_user == opportunity.user %></td>
        <td><%= link_to 'Delete', opportunity, method: :delete, data: { confirm: 'Are you sure?' } if current_user == opportunity.user  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
