<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
     <div class="navbar-header">
       <a class="navbar-brand" href="<%= root_path %>">BizPartnr.com</a>
     </div>
     <div id="navbar" class="collapse navbar-collapse">
       <ul class="nav navbar-nav">
         <li class="<%= 'active' if current_page? root_path %>"><a href="<%= root_path %>">Home</a></li>
         <li class="<%= 'active' if current_page? opportunities_path %>"><a href="<%= opportunities_path %>">Opportunity List</a></li>
         <li class="<%= 'active' if current_page? users_path %>"><a href="<%= users_path %>">Partner List</a></li>
         <li class="<%= 'active' if current_page? search_path %>"><a href="<%= search_path %>">Search</a></li>
         <li class="<%= 'active' if current_page? new_opportunity_path %>"><a href="<%= new_opportunity_path %>">Create New Opportunity</a></li>
         <li class="<%= 'active' if current_page? contact_path %>"><a href="<%= contact_path %>">Contact</a></li>

       </ul>

       <ul class="nav navbar-nav pull-right">
         <% if current_user %>
          <li><a href="#"><%= current_user.full_name %></a></li>
          <li><a href="<%= logout_path %>">Logout</a></li>
         <% else %>
          <li><a href="<%= login_path %>">Login</a></li>
          <li><a href="<%= signup_path %>">Signup</a></li>
         <% end %>

       </ul>
     </div><!--/.nav-collapse -->
   </div>
 </nav>


 <p id="notice"><%= notice %></p>
